:root{
	--color_text_theme2:#ff009a;
	color: var(--tg-theme-text-color);
}
body{
font-family:century gothic;
}
ul{
list-style-type:none;
margin-block-start:0em;
margin-block-end:0em;
padding-inline-start:6px;
}
li a{text-decoration:none; color:#000;margin:0px 4px;}
#player{
display:flex;
position:relative;
width:100%;
max-width:1320px;
margin:0 auto;
}


#rewards{width:350px;height:45px;box-shadow:0 0 0px #454545;padding:10px 20px 10px;}
#tags{width:450px;box-shadow:0 0 0px #454545;font-size:.95em;color:#000;padding:25px 0px 10px;}
.flx{display:flex;}
.sbtw{justify-content:space-between;}
.fetw{justify-content:flex-end;}
.colory{
background: rgba(240, 211, 92, 1.0);
background: -webkit-linear-gradient(top, rgba(240, 211, 92, 1.0), rgba(238, 120, 94, 1.0));
background: -moz-linear-gradient(top, rgba(240, 211, 92, 1.0), rgba(238, 120, 94, 1.0));
background: linear-gradient(to bottom, rgba(240, 211, 92, 1.0), rgba(238, 120, 94, 1.0));
}
.pl_form{
width:100%;
max-width:920px;
}
.pl_band{
width:100%;
max-width:400px;
}
.pl_container{
height:350px;

}
.bandler{
width:300px;
height:300px;
margin:25px 50px;
}
.bandler img{
width:100%;
height:100%;
}
.cont_body{
margin:120px 0px 10px 20px;
position:relative;
height:75px;
}
.cont_thumb{
max-width:900px;
width:100%;
height:75px;
}
.cont_thumb canvas{
width:100%;
max-width:900px;
height:100%;
max-height:75px;
}
.thumb_progress{
position:relative;
margin-top:-75px;
}
.media_tumb_progress{
width:100%;
max-width:900px;
height:100%;
max-height:75px;
}
.tr_hud{
padding:0px 20px;
}
#hud_play{
border:none;
border-radius:36px;
}
.tr_play{
width:45px;
height:45px;

}
.tr_play img{
width:100%;
height:100%;
}
.tr_name{
margin:0px 10px;
}
.tr_track{
font-size:1.3em;
color:#000;
text-transform:uppercase;
font-weight:600;
}
.tr_author{
font-size:0.95em;
color:#000;
text-transform:uppercase;
}
.tr_achivment{
width:65px;
height:65px;
}
.tr_achivment img{
width:100%;
height:100%;
}
.abs{
position:absolute;
}
.cont_tim{
margin:-50px 0px 0px;
width: 100%;
position:relative;
}
.tm_now{
left:0px;
float:left;
padding:1px 4px;
font-size:.85em;
background-color:#000c;
color:#fff;
position:absolute;
max-width:40px;
}
.tm_end{
float:right;
padding:1px 4px;
font-size:.85em;
background-color:#eeec;
color:#656565;
}
}
/*===========MIN PLAYER===============*/
#player2, #player3{
display:flex;
position:relative;
width:100%;
max-width:840px;
margin:0 auto;
border:1px solid #dddddd;
padding:10px;
}
#rewards2{width:250px;height:30px;box-shadow:0 0 0px #454545;padding:10px 0px 0px;}
#tags2{width:350px;box-shadow:0 0 0px #454545;font-size:0.9em;color:#fff;padding:10px 0px 0px;text-shadow:0 0 2px black;}
.pl_form2{
width:100%;
max-width:680px;
border-right:0px solid #ccc
}
.pl_band2{
width:100%;
max-width:130px;
}
.pl_container2{
height:150px;
}
.bandler2{
width:130px;
height:130px;
}
.bandler2 img{
width:100%;
height:100%;
}
.cont_body2{
max-width:680px;
width:100%;
height:75px;
box-shadow:0 0 0px #454545;
}
.cont_body2 canvas{
margin:0px 0px;
box-shadow:0 0 0px #fff;
width:100%;
max-width:680px;
height:100%;
max-height:75px;
}
.pl_ui2{
height:50px;
}
.tr_hud2{

}
#hud_play2{
width:55px;
height:55px;
border:none;
border-radius:36px;
}
.tr_play2{
width:45px;
height:45px;
margin:5px;	
}
.tr_play2 img{
width:100%;
height:100%;
}
.tr_name2{
margin:15px 5px;
}
.tr_name2 text{
font-size:1.3em;
color:#000;
}
.turl{
color:#000;
}
/*===========MIN PLAYER===============*/
